body {
    background: rgb(204, 204, 204);
}

#cabecalho {
    background: #33353a;
    padding: 10px;
}

#cabecalho p {
    color: white;
}

#cabecalho a {
    color: white;
}

h1 {
    color: rgb(255, 158, 11);
}

#corpo img {
    width: 1200px;
    height: 400px;
    padding-left: 60px;
}

#rodape {
    background: #33353a;
    color: white;
}

#rodape .data {
    display: inline;
    position: relative;
    top: 25px;
}

#rodape img {
    width: 45px;
    height: 45px;
}

.produtos img {
    width: 75px;
    height: 150px;
}

.redes-sociais {
    text-align: right;
}

#rodape .redes-sociais>p {
    display: inline;
    text-align: right;
    position: relative;
    bottom: 25px;
}

.menu {
    text-align: right;
}