* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #F9B24D;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

img {
  width: 100px;
}

main {
  background-color: #f4f4f4;
  flex-grow: 1;
  display: flex;
}

footer {
  background-color: #333;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: rebeccapurple;
  width: 300px
}

section {
  background-color: salmon;
  width: 200px;
}